{
  "parser": "@typescript-eslint/parser",
  "extends": ["taro/react", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": "error"
  }
}
